header.header
    .container
        .row.align-items-left
            .col-3
                .inner-logo
                    a(href="/")
                        img(
                            src="/images/logo.png",
                            alt="logo",
                            width="88",
                            height="88"
                        )
            .col-9
                .inner-menu
