nav.sider
    ul.nav.flex-column
        li.nav-item
            a.nav-link(href=`${prefixAdmin}/dashboard`) Dashboard
        li.nav-item
            a.nav-link(href=`${prefixAdmin}/products`) Products

